.sectio{
background-color: rgb(0, 23, 41);
}
.tags{
    background-color: rgb(0, 72, 120);
    position: relative;
    }

    .tg{
        
        position: relative;
        left: 85%;
        }
    
        .nav-link {
            cursor:pointer;
          }
          
          .tag-pill{
            cursor:pointer;
          }
          
          #sidenav-main{
              background-color: black;
          }

          a{
            background-color:rgb(0, 92, 162);
          }
          .listcomment{
            color: rgb(255, 255, 255);
            position: relative;
            left: 10%;
          }

.tag{ background-color: rgb(0, 34, 71);}          