<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7" id="main-container">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <a (click)="onOpenModal1(null, 'add')" class="btn btn-info test"> Add Mission</a>
          <h3 class="mb-0">List of missions</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Mission</th>
                <th scope="col">Destination</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Mission Object</th>
                <th scope="col">Mission Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!-- Company -->
              <tr *ngFor="let mission of missions">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{mission.id}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{mission.destination}}
                </td>
                <td>
                  {{mission.startDate}}
                </td>
                <td>
                  {{mission.endDate}}
                </td>
                <td>
                  {{mission.missionObject}}
                </td>
                <td>
                  <span *ngIf="mission.missionStatus=='BEING_PROCESSED'" class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{mission.missionStatus}}
                  </span>
                  <span *ngIf="mission.missionStatus=='VALID'" class="badge badge-dot">
                    <i class="bg-success"></i> {{mission.missionStatus}}
                  </span>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a (click)="onOpenModal1(mission, 'edit')" class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a (click)="onOpenModal1(mission, 'delete')" class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <a (click)="onOpenModal2(null, 'add')" class="btn btn-info test">Add Mission Affectation</a>
          <h3 class="text-white mb-0">List of mission affectations</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Mission</th>
                <th scope="col">Employee related</th>
                <th scope="col">Affectation Date</th>
                <th scope="col">Mission affectation status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let missionAffectation of missionAffectations">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{missionAffectation.id.idMission}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{missionAffectation.id.idUser}}
                </td>
                <td>
                  {{missionAffectation.affectationDate}}
                </td>
                <td>
                  <span *ngIf="missionAffectation.missionAffectationStatus=='BEING_PROCESSED'" class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{missionAffectation.missionAffectationStatus}}
                  </span>
                  <span *ngIf="missionAffectation.missionAffectationStatus=='VALID'" class="badge badge-dot">
                    <i class="bg-success"></i> {{missionAffectation.missionAffectationStatus}}
                  </span>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a (click)="onOpenModal2(missionAffectation, 'edit')" class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a (click)="onOpenModal2(missionAffectation, 'delete')"class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal Mission -->
<div class="modal fade" id="updateMissionModal" tabindex="-1" role="dialog" aria-labelledby="updateMissionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="updateMissionModalLabel">Edit Mission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
             <label for="destination">Destination</label>
             <input type="text" ngModel="{{editMission?.destination}}" name="destination" class="form-control" id="destination" placeholder="Destination">
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" ngModel="{{editMission?.startDate}}" name="startDate" class="form-control" id="startDate" placeholder="Start Date">
         </div>
          <input type="hidden" ngModel="{{editMission?.id}}" name="id" class="form-control" id="id" placeholder="Mission ID">
          <div class="form-group">
             <label for="endDate">End Date</label>
             <input type="date" ngModel="{{editMission?.endDate}}" name="endDate" class="form-control" id="endDate" placeholder="End Date">
          </div>
          <div class="form-group">
            <label for="missionObject">Mission Object</label>
            <input type="text" ngModel="{{editMission?.missionObject}}" name="missionObject" class="form-control" id="missionObject" placeholder="Mission Object">
          </div>
          <div class="form-group">
            <label for="missionStatus">Mission Status</label>
            <input type="text" ngModel="{{editMission?.missionStatus}}" name="missionStatus" class="form-control" id="missionStatus" placeholder="Mission Status">
         </div>
          <div class="modal-footer">
             <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
             <button (click)="onUpdateMission(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
       </form>
       </div>
    </div>
  </div>
</div>

<!-- Add Modal Mission -->
<div class="modal fade" id="addMissionModal" tabindex="-1" role="dialog" aria-labelledby="addMissionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addMissionModalLabel">Add Mission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddMission(addForm)">
          <div class="form-group">
             <label for="destination">Destination</label>
             <input type="text" ngModel name="destination" class="form-control" id="destination" placeholder="Destination" required>
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" ngModel name="startDate" class="form-control" id="startDate" placeholder="Start Date" required>
          </div>
          <div class="form-group">
             <label for="endDate">End Date</label>
             <input type="date" ngModel name="endDate" class="form-control" id="endDate" placeholder="End Date" required>
          </div>
          <div class="form-group">
            <label for="missionObject">Mission Object</label>
            <input type="text" ngModel name="missionObject" class="form-control" id="missionObject" placeholder="Mission Object" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-mission-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Delete Modal Mission-->
<div class="modal fade" id="deleteMissionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Mission</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete this mission : {{deleteMission?.id}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteMission(deleteMission?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>


<!-- Edit Modal Mission Affectation -->
<div class="modal fade" id="updateMissionAffectationModal" tabindex="-1" role="dialog" aria-labelledby="updateMissionAffectationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="updateMissionAffectationModalLabel">Edit Mission Affectation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
             <label for="mission">Mission</label>
             <input type="number" ngModel="{{editMissionAffectation?.id.idMission}}" name="mission" class="form-control" id="mission" placeholder="Mission">
          </div>
          <div class="form-group">
            <label for="employee">Employee</label>
            <input type="number" ngModel="{{editMissionAffectation?.id.idUser}}" name="employee" class="form-control" id="employee" placeholder="Employee">
          </div>
          <div class="form-group">
             <label for="affectationDate">Affectation Date</label>
             <input type="date" ngModel="{{editMission?.endDate}}" name="endDate" class="form-control" id="endDate" placeholder="End Date">
          </div>
          <div class="form-group">
            <label for="missionAffectationStatus">Mission Affectation Status</label>
            <input type="text" ngModel="{{editMission?.missionStatus}}" name="missionStatus" class="form-control" id="missionStatus" placeholder="Mission Status">
         </div>
          <div class="modal-footer">
             <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
             <button (click)="onUpdateMissionAffectation(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
       </form>
       </div>
    </div>
  </div>
</div>

<!-- Add Modal Mission Affectation-->
<div class="modal fade" id="addMissionAffectationModal" tabindex="-1" role="dialog" aria-labelledby="addMissionAffectationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addMissionAffectationModalLabel">Add Mission Affectation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddMissionAffectation(addForm)">
          <div class="form-group">
             <label for="mission">Mission</label>
             <input type="number" ngModel name="mission" class="form-control" id="mission" placeholder="Mission" required>
          </div>
          <div class="form-group">
            <label for="employee">Employee Related</label>
            <input type="number" ngModel name="employee" class="form-control" id="employee" placeholder="Employee" required>
          </div>
          <div class="form-group">
             <label for="affectationDate">Affectation Date</label>
             <input type="date" ngModel name="affectationDate" class="form-control" id="affectationDate" placeholder="Affectation Date" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-missionaffectation-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Delete Modal Mission Affectation -->
<div class="modal fade" id="deleteMissionAffectationModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Mission Affectation</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete this mission affectation ?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteMissionAffectation(deleteMission?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>





